# ignore pdflatex, bibtex output and PDF output
**/*.aux
**/*.bbl
**/*.blg
**/*.dvi
**/*.gz
**/*.log
**/*.nav
**/*.out
**/*.pdf
**/*.snm
**/*.toc
# ignore __pycache__
**/__pycache__
# ignore big thomas bayes
lessons/lecture_04/thomas_bayes_large.jpg
# ignore random plotting script
lessons/lecture_07/plot_descent_direction.py